@use './_variables.scss' as vars;

@mixin on-tablet {
  @media (min-width: vars.$tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: vars.$desktop-min-width) {
    @content;
  }
}

@mixin page-inline-padding {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    padding-inline: 32px;
  }
}

@mixin small-text-12 {
  font-size: 12px;
  line-height: 15.34px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin grid-template-columns-4-12-24 {
  grid-template-columns: repeat(4, minmax(60px, 1fr));

  @include on-tablet {
    grid-template-columns: repeat(12, minmax(15.34px, 1fr));
  }

  @include on-desktop {
    grid-template-columns: repeat(24, 32px);
  }
}

@mixin grid-span-all-cols {
  grid-column: 1 / -1;
}

@mixin flex-column-gap($value: 0) {
  display: flex;
  flex-direction: column;
  gap: #{$value};
}

@mixin width-height($width, $height) {
  width: #{$width};
  height: #{$height};
}

@mixin flex-row-gap($default-value: 0) {
  display: flex;
  flex-direction: row;
  gap: #{$default-value};
}

@mixin responsive-property($property, $default-value, $tablet-value: null, $desktop-value: null) {
  @if $default-value or $default-value == 0 or type-of($default-value) == number {
    #{$property}: $default-value;
  }

  @if $tablet-value or $tablet-value == 0 or type-of($tablet-value) == number {
    @include on-tablet {
      #{$property}: $tablet-value;
    }
  }

  @if $desktop-value or $desktop-value == 0 or type-of($desktop-value) == number {
    @include on-desktop {
      #{$property}: $desktop-value;
    }
    }
}

@mixin pulse-animation($scale-start: 1.1, $scale-mid: 1.2, $duration: 0.6s) {
  transform: scale($scale-start);
  animation: pulse $duration infinite;

  @keyframes pulse {
    0%, 100% {
      transform: scale($scale-start);
    }
    50% {
      transform: scale($scale-mid);
    }
  }
}

@mixin scale-image-animation {
  transition: transform vars.$scale-duration;

  &:hover {
    transform: scale(1.1);
  }
}

