.footer {
  padding-block: 32px;
  margin-top: auto;

  border-top: vars.$footer-border;
  box-shadow: vars.$footer-shadow;
}

.wrapper {
  max-width: 1200px;
  margin-inline: auto;

  @include mixins.page-inline-padding;
  @include mixins.flex-column-gap(32px);

  @include mixins.on-tablet {
    @include mixins.flex-row-gap(0);

    justify-content: space-between;
    align-items: center;
  }
}

.links {
  flex-basis: calc(100% / 3);

  @include mixins.flex-column-gap(16px);

  @include mixins.on-tablet {
    @include mixins.flex-row-gap(0);

    justify-content: space-between;
  }
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: vars.$footer-nav-links-color;
}

.navigation {
  @include mixins.flex-row-gap(16px);
  
  justify-content: center;
  align-items: center;
  height: 32px;
  color: vars.$secondary-color;
}
